<p id="notice"><%= notice %></p>
<div class="pull-right">
  <%= link_to 'New Quote', new_quote_path, class: "btn btn-default btn-sm" %>
</div>
<h1>Quotes</h1>

<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Quote</th>
      <th>Modern Reference</th>
      <th>Biblical Reference</th>
      <th>User</th>
      <th col width="20%"></th>
    </tr>
    </thead>

    <tbody>
    <% @quotes.each do |quote| %>
        <tr>
          <td><%= link_to "#{quote.quote}", quote.quote %></td>
          <td><%= quote.modern_ref %></td>
          <td><%= quote.biblical_ref %></td>
          <td><%= quote.user %></td>
          <td>
            <%= link_to 'Edit', edit_quote_path(quote), class: "btn btn-primary" %>
            <%= link_to 'Destroy', quote, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>
