<div class="pull-right">
  <%= link_to 'Edit', edit_quote_path(@quote), class: 'btn btn-default' %>
  <%= link_to 'All Quotes', quotes_path, class: 'btn btn-default' %>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Submitted by:</strong>
  <%= @quote.user %>

</p>


<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Quote</strong>
      </div>
      <div class="panel-body">
        <p>
          <%= @quote.quote %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Biblical Reference</strong>
      </div>
      <div class="panel-body">
        <%= @quote.biblical_ref %>
      </div>
      <div class="panel-heading">
        <strong>Modern Reference</strong>
      </div>
      <div class="panel-body">
        <%= @quote.modern_ref %>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <strong>Note:</strong>
  <%= @quote.note %>
</div>



