<p id="notice"><%= notice %></p>

<h1>Listing Modern Quotes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modern_quotes.each do |modern_quote| %>
      <tr>
        <td><%= link_to 'Show', modern_quote %></td>
        <td><%= link_to 'Edit', edit_modern_quote_path(modern_quote) %></td>
        <td><%= link_to 'Destroy', modern_quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Modern quote', new_modern_quote_path %>
